<header class="main_menu home_menu">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-11">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="/"> <img width="50" height="50" src="/images/logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu_icon"><i class="fas fa-bars"></i></span>
                    </button>
                    <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/">Trang chủ</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_1" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Thể loại
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
                                    {{#each this.category}}
                                    <a class="dropdown-item" href="/category/{{name}}/book/?page=1">
                                        {{name}} </a>
                                    {{/each}}
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/book/add" role="button" data-toggle="dropdown "
                                    aria-haspopup="true" aria-expanded="false">
                                    Thêm sách
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/blog" id="navbarDropdown_3" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-user-tie"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                    {{#if isAuthenticated}}
                                    {{#switch role}}
                                    {{#case "ThuThu"}}
                                    <a class="dropdown-item" href="/readers"> Danh sách độc giả </a>
                                    <a class="dropdown-item" href="/history-borrow">Lịch sử mượn sách</a>
                                    {{/case}}
                                    {{#case "Thukho"}}
                                    <a class="dropdown-item" href="/book/add">Thêm sách</a>
                                    {{/case}}
                                    {{#default}}
                                    <a class="dropdown-item" href="/readers"> Danh sách độc giả </a>
                                    <a class="dropdown-item" href="/history-borrow">Lịch sử mượn sách</a>
                                    <a class="dropdown-item" href="/book/add">Thêm sách</a>
                                    {{/default}}
                                    {{/switch}}
                                    <a class="dropdown-item" href="/logout">Đăng xuất </a>
                                    {{else}}
                                    <a class="dropdown-item" href="/login">Đăng nhập </a>
                                    {{/if}}

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="hearer_icon d-flex">
                        <form class="input-group" action="/search" method="GET">
                            <input type="text" class="form-control" placeholder="Search" name="searchKey">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>