{{>header}}
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">

<div class="card success">
    <div class="icon-success">
        <i class="checkmark success">✓</i>
    </div>
    <h1 class="success">Success</h1>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <a href={{retUrl}} class="btn btn-outline-success mr-4">Go back</a>
            <a href="/" class="btn btn-outline-danger">Go Home</a>
        </div>
    </div>
</div>
{{>footer}}